<div class="cities">
  <div class="d-flex justify-content-center">

    <div class="my-3 cities__card">
      <app-form [formModel]="formModel" (searchValueChanges)="filterCities($event)" />
    </div>

  </div>

  @if (citiesListFiltered()) {
  <div class="mx-3 cities__grid" [ngClass]="{'cities__grid__element': citiesListFiltered().length <= 2, 'cities__grid__elements': citiesListFiltered().length > 2, }">
    @for (city of citiesListFiltered(); track city) {
    <div>
      <app-card [cardModel]="cardModel">
        <pre>{{ city | json }}</pre>
      </app-card>
    </div>
    }
  </div>
  }
</div>

