<div class="cities">
  <div class="d-flex justify-content-center">
    <div class="my-3 cities__card">
      <!-- <app-card [cardModel]="cardModel">
        input field -->

        <app-form [formModel]="formModel"  />

      <!-- </app-card> -->
    </div>
  </div>
  
  @if (citiesList()) {
  <div class="mx-3 cities__grid">
    @for (city of citiesList(); track city) {
    <div>
      <app-card [cardModel]="cardModel">
        <pre>{{ city | json }}</pre>
      </app-card>
    </div>
    }
  </div>
  }
</div>