<form [formGroup]="form">
  <div class="form-group {{ inputElement().customClass }}">
    <label [for]="inputElement().label.toLowerCase().trim()">{{ inputElement().label }}</label>
    <input [type]="inputElement().inputType" [id]="inputElement().label.toLowerCase().trim()"
      [formControlName]="inputElement().label.toLowerCase().trim()" class="form-control" [ngClass]="{ 
        'is-invalid': form.get(inputElement().label.toLowerCase().trim())?.invalid && (form.get(inputElement().label.toLowerCase().trim())?.dirty || form.get(inputElement().label.toLowerCase().trim())?.touched),
        'is-valid': form.get(inputElement().label.toLowerCase().trim())?.valid && (form.get(inputElement().label.toLowerCase().trim())?.dirty || form.get(inputElement().label.toLowerCase().trim())?.touched) 
        }" required>

    <div
      *ngIf="form.get(inputElement().label.toLowerCase().trim())?.invalid && (form.get(inputElement().label.toLowerCase().trim())?.dirty || form.get(inputElement().label.toLowerCase().trim())?.touched)"
      class="invalid-feedback">
      Invalid {{ inputElement().label }}
    </div>

  </div>
</form>
